<h1>Burgers!</h1>

<h2>burgers that are not rare!</h2>

​
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are rare!</h2>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="rare">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked>!<br>
    <input type="radio" name="devoured" value="0"> Done
  </div>

  <button type="submit">Add burger</button>
</form>
